html{
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 4em 1em 4em;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main{
    margin-top: 2em;
}

figure{
    display: flex;
    justify-content: center;
}

.search_bar{
    display: flex;
    background-color: #E7E7E7;
    border-radius: 5px;
    padding-left: 1em;
}

.input_search{
    height: 3em;
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1em;
    padding: 0.5em;
}
.input_search:focus{
    outline: none;
}

.search_icon{
    margin-right: 1em;
}

.advanced_search{
    margin-top: 2em;
}

.find_div_container_1{
    background-color:  #3282F7;
    margin-right: 15px;
    width: 200px;
    
}

.find_div_container_2{
    background-color: #68D9A4;
    margin-right: 15px;
}

.find_div_container_3{
    background-color: #ED6454;
    margin-right: 20px;
}

.find_btn::placeholder {
    color: white;
  
}

.find_btn{
    border:none;
    background-color: transparent;
    height: 69px;
    width: 170px;
    font-weight: 700;
    color: white;
    font-size: 18px;
    margin-right: 1.5em;
    padding-left: 15px;
}

.find_btn:focus{
    outline: none;
}

.img_drop_down{ 
    top: 44%;
    right: 20px;
}

#drop_down_1, #drop_down_2, #drop_down_3{
    position: absolute;
    display: none;
    z-index: 100;
    top: 96%;
    width: 100%;

}

#drop_down_1{
    background-color: #3282F7;
} 

#drop_down_2{
    background-color: #68D9A4;
}

#drop_down_3{
    background-color: #ED6454;
}


.card{
    height: 100%;
}

.card-row{
    margin-bottom: 22px;
}

.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
}

.card-time{
    white-space: nowrap;
    align-items: center;
    display: flex;

}

h4 {
    font-size: 1.1em;
}

.img_clock {
    margin-right: 5px;
}

.right{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8; /* number of lines to show */
    line-clamp: 8; 
    -webkit-box-orient: vertical;
    font-size: 13px;

}

ul {
    list-style:none;
}

li{
    font-size: 13px;
}


